<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="koast.admin.domain.policy.entity.Policy" alias="policy"/>
        <typeAlias type="koast.admin.domain.user.dto.UserLoginRequest" alias="userLoginRequest"/>
        <typeAlias type="koast.admin.domain.user.entity.User" alias="user"/>
        <typeAlias type="koast.admin.domain.user.entity.UserGroup" alias="userGroup"/>
        <typeAlias type="koast.admin.domain.user.session.UserSession" alias="userSession"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="java.math.RoundingMode"/>
        <typeHandler handler="koast.admin.common.mybatis.typehandler.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"/>
    </typeHandlers>

    <!--<mappers>
        <mapper resource="mybatis/SarResultMap.xml"/>
    </mappers>-->

</configuration>